.book-card {
  align-items: center;
  background-color: coral;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  padding: 30px;
  min-width: 15vw;
  min-height: 10vw;
  margin: 10px;
  overflow: auto;
  z-index: 999;
}

.book-card__title {
  margin: 10px 0;
  text-align: center;
  z-index: 1;
}

.book-card__items {
  margin-top: 10px;
  z-index: 1;
}

.book-card__items--title {
  font-weight: bold;
  margin-top: 10px;
}
