.book-card {
  align-items: center;
  background-color: coral;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 30px;
  min-width: 15vw;
  margin: 10px;
  border: none;
}

.book-card__title {
  margin: 10px 0;
  text-align: center;
}

.book-card__items {
  margin-top: 10px;
}

.book-card__items--title {
  font-weight: bold;
  margin-top: 10px;
}
